.nav-underline {
  position: relative;
  display: inline-block;
}

.nav-underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.6s ease-in-out;
}

.nav-underline:hover::after {
  width: 100%;
}
